<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
      <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/bgs">BGs</a></li>
              <li class="active"><a href="/aw-selections">AW Selections<span class="sr-only">(current)</span></a></li>
              <li><a href="/members">Alliance Members</a></li>
          </ul>
      </nav>
</div>
          <div class="container">
              <h2>Aliance War Champ Selection</h2>
              <p>Check out who the best and worst recommended attackers and defenders are and how important it is to have them duped before
                  placing and selecting champs in AW!</p>

              <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#defence">Defenders</a></li>
                  <li><a data-toggle="tab" href="#attack">Attackers</a></li>
              </ul>

              <div class="tab-content">
                  <div id="defence" class="tab-pane fade in active">
                      <h4>Best and Worst champs for AW <u>defence</u> placement</h4>
                      <p>Take note of whether the champ needs to be duped, some champs are only good when duped...</p>
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">Best Defenders</h3>
                          </div>
                          <div class="panel-body">
                              <h5>In rough order of effectivness (best at top)</h5>
                              <div class="container-fluid">
                                  <div class="table-responsive">
                                      <table class="table">
                                          <thead>
                                          <tr>
                                              <th>Champ</th>
                                              <th>Duped?</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr>
                                              <td>Night Crawler</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Magik</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Mordo</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Hyperion</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Civil Warrior Black Panther</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Spiderman</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Spiderman (Miles)</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>The Hood</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Electro</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Juggernaut</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Unstoppable Colossus</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Rhino</td>
                                              <td>yes</td>
                                          </tr>
                                          <tr>
                                              <td>Agent Venom</td>
                                              <td>No</td>
                                          </tr>

                                          <tr>
                                              <td>Ant-Man</td>
                                              <td>yes</td>
                                          </tr>
                                          <tr>
                                              <td>Yellow Jacket</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Dormamu</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Abomination</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Ultron</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Black Widow</td>
                                              <td>yes</td>
                                          </tr>
                                          <tr>
                                              <td>Hulk</td>
                                              <td>No</td>
                                          </tr>

                                          </tbody>
                                      </table>
                                  </div>
                              </div>

                          </div>
                      </div>

                      <div class="panel panel-danger">
                          <div class="panel-heading">
                              <h3 class="panel-title">Worst Defenders</h3>
                          </div>
                          <div class="panel-body">
                              <h5>In no particular order</h5>
                              <div class="container-fluid">
                                  <div class="table-responsive">
                                      <table class="table">
                                          <thead>
                                          <tr>
                                              <th>Champ</th>
                                              <th>Duped?</th>
                                          </tr>
                                          </thead>
                                          <tbody>

                                          <tr>
                                              <td>Hawkeye</td>
                                              <td>n/a</td>
                                          </tr>
                                          <tr>
                                              <td>Wolverine (Both)</td>
                                              <td>n/a</td>
                                          </tr>
                                          <tr>
                                              <td>Star-Lord</td>
                                              <td>n/a</td>
                                          </tr>
                                          <tr>
                                              <td>Storm</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Captain/Ms Marvel</td>
                                              <td>n/a</td>
                                          </tr>
                                          <tr>
                                              <td>Iron Fist</td>
                                              <td>n/a</td>
                                          </tr>
                                          <tr>
                                              <td>Gamora</td>
                                              <td>n/a</td>
                                          </tr>
                                          <tr>
                                              <td>Thor</td>
                                              <td>n/a</td>
                                          </tr>
                                          <tr>
                                              <td>Spider Gwen</td>
                                              <td>n/a</td>
                                          </tr>
                                          <tr>
                                              <td>Karnak</td>
                                              <td>n/a</td>
                                          </tr>
                                          <tr>
                                              <td>Daredevil (Both)</td>
                                              <td>n/a</td>
                                          </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>

                          </div>
                      </div>

                  </div>
                  <div id="attack" class="tab-pane fade">
                      <h4>Best and Worst champs for AW <u>attack</u> placement</h4>
                      <p>Take note of whether the champ needs to be duped, some champs are only good when duped...</p>

                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">Best Attackers</h3>
                          </div>
                          <div class="panel-body">
                            <h5>In no particular order</h5>
                              <div class="container-fluid">
                                  <div class="table-responsive">
                                      <table class="table">
                                          <thead>
                                          <tr>
                                              <th>Champ</th>
                                              <th>Duped?</th>
                                          </tr>
                                          </thead>
                                          <tbody>

                                          <tr>
                                              <td>Wolverine (Both)</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Hawkeye</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Vision</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Scarlet Witch</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Winter Soldier</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Black Widow</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Rogue</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Star-Lord</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Thor</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Crossbones</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Guillotine</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Agent Venom</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Utron</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Captain America</td>
                                              <td>Yes</td>
                                          </tr>
                                          <tr>
                                              <td>Dr Voodoo</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>ArcAngel</td>
                                              <td>No</td>
                                          </tr>
                                          <tr>
                                              <td>Gwenpool</td>
                                              <td>No</td>
                                          </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>

                          </div>
                      </div>
                      <div class="panel panel-danger">
                          <div class="panel-heading">
                              <h3 class="panel-title">Worst Attackers</h3>
                          </div>
                          <div class="panel-body">

                              <div class="container-fluid">
                                  <p>You know your own champs well, used well enough any champ can be good. just
                                      keep in mind if you have a better attacker from the list of Best Attackers use that instead.
                                      If your champ is on the list of best defenders try ot use them in defence instead
                                      </p>
                                  <br>
                                  <p>eg. A Mordo or NC may not be a bad attacker but he is a top Defender so try place
                                      them as a defender instead</p>
                              </div>

                          </div>
                      </div>

                  </div>
              </div>
          </div>

  </div>
</body>
</html>
