<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Alliance Members</title>
</head>
<body>
<div>
    <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/bgs">BGs<span class="sr-only">(current)</span></a></li>
                <li><a href="/aw-selections">AW Selections</a></li>
                <li><a href="/members">Alliance Members</a></li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid">
        <h1>Battle Group Lists</h1>
        <h4>These are the battle groups for both AW & AQ</h4>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>BG 1</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Wrbick</td></tr>
                            <tr><td>dblisset</td></tr>
                            <tr><td>Slayer</td></tr>
                            <tr><td>Digs</td></tr>
                            <tr><td>Petrus</td></tr>
                            <tr><td>Rajunkajun</td></tr>
                            <tr><td>Lucifer</td></tr>
                            <tr><td>WHUFC</td></tr>
                            <tr><td>TheOlympian</td></tr>
                            <tr><td>Devil</td></tr>
                        </tbody>
                    </table>
                </div>
            </div><div class="col-sm-4">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>BG 2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>Motty</td></tr>
                    <tr><td>Hudds</td></tr>
                    <tr><td>ReynoSaville</td></tr>
                    <tr><td>Happy Moon</td></tr>
                    <tr><td>MottyLego</td></tr>
                    <tr><td>PhantomTheKid</td></tr>
                    <tr><td>JrFlipp</td></tr>
                    <tr><td>mikegluttony</td></tr>
                    <tr><td>TilterBullet</td></tr>
                    <tr><td>Andries</td></tr>

                    </tbody>
                </table>
            </div>
            </div><div class="col-sm-4">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>BG 3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>Atom</td></tr>
                    <tr><td>Dragonile</td></tr>
                    <tr><td>misagro</td></tr>
                    <tr><td>CaptJesusManson</td></tr>
                    <tr><td>Phenom</td></tr>
                    <tr><td>HeidarTh</td></tr>
                    <tr><td>AsadJB</td></tr>
                    <tr><td>lovesid</td></tr>
                    <tr><td>Fockerzz</td></tr>
                    <tr><td>wild surfer</td></tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>