<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/bgs">BGs</a></li>
      <li><a href="/aw-selections">AW Selections</a></li>
      <li><a href="/members">Alliance Members</a></li>
    </ul>
</nav>
</div>
    <div class="container-fluid">
        <h1>Starlords & Racoons Alliance <small>[Furrr]</small></h1>

        <br/>
    </div>

<div class="jumbotron">
    <div class="container-fluid">
        <p>
            Welcome to the Starlords & Racoons MCOC Alliance site! This site will give you the following information:
        <ul>
            <li>
                Which Battle Group to join for AQ and AW
            </li>
            <li>
                Guidelines and suggestion for good and bad AW attackers and defenders
            </li>
            <li>
                Members section with a list of the members mapped to their Whatsapp IDs so you know who to tag on whatsapp
            </li>
        </ul>
        </p>
        <br>
        <p>
            More features available on request! - contact Slayer (Ash)
        </p>
    </div>
</div>
</div>
</body>
</html>
