<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/bgs">BGs</a></li>
                <li><a href="/aw-selections">AW Selections</a></li>
                <li class="active"><a href="/members">Members<span class="sr-only">(current)</span></a></li>
            </ul>
        </nav>
    </div>

    <div>
        <div class="container-fluid">
            <h1>
                Alliance Member List
            </h1>
            <br/>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Game Name</th>
                        <th>Whatsapp ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Andries</td>
                        <td>Andries Rose</td>
                    </tr>
                    <tr>
                        <td>AsadJB</td>
                        <td>Asad</td>
                    </tr>
                    <tr>
                        <td>Atom</td>
                        <td>Mohammad Ali</td>
                    </tr>
                    <tr>
                        <td>CaptJesusManson</td>
                        <td>CaptJesusManson</td>
                    <tr>
                        <td>dblisset</td>
                        <td>dblisset81</td>
                    <tr>
                        <td>Digs</td>
                        <td>ShinDig</td>
                    </tr>
                    <tr>
                        <td>Dragonile</td>
                        <td>misagro</td>
                    </tr>
                    <tr>
                        <td>Devil</td>
                        <td>Devil</td>
                    <tr>
                        <td>Fockerzz</td>
                        <td>Prachit Shah</td>
                    </tr>
                    <tr>
                        <td>Hudds</td>
                        <td>Kev Huddart</td>
                    </tr>
                    <tr>
                        <td>Happy Moon</td>
                        <td>Happy Moon</td>
                    </tr>
                    <tr>
                        <td>JrFlipp</td>
                        <td>JrFlipp</td>
                    </tr>
                    <tr>
                        <td>HeidarTh</td>
                        <td>Heidar por</td>
                    </tr>
                    <tr>
                        <td>lovesid</td>
                        <td>Eric</td>
                    </tr>
                    <tr>
                        <td>Lucifer</td>
                        <td>Lucifer</td>
                    </tr>
                    <tr>
                        <td>Motty</td>
                        <td>Motty2</td>
                    </tr>
                    <tr>
                        <td>MottyLego</td>
                        <td>Motty2</td>

                    </tr>
                    <tr>
                        <td>mikegluttony</td>
                        <td>Michael Sinclair</td>
                    </tr>
                    <tr>
                        <td>misagro</td>
                        <td>misagro</td>
                    </tr>
                    <tr>
                        <td>Phenom</td>
                        <td>Atef Baakza</td>
                    </tr>
                    <tr>
                        <td>Petrus</td>
                        <td>Petrus Rose</td>
                    </tr>
                    <tr>
                        <td>PhantomTheKid</td>
                        <td>Ishaan Khanna</td>
                    </tr>
                    <tr>
                        <td>ReynoSaville</td>
                        <td>ReynoSaville</td>
                    </tr>
                    <tr>
                        <td>Rajunkajun</td>
                        <td>Big Ant</td>
                    </tr>
                    <tr>
                        <td>Slayer</td>
                        <td>Ash</td>
                    </tr>
                    <tr>
                        <td>TiltedBullet</td>
                        <td>TiltedBullet</td>
                    </tr>
                    <tr>
                        <td>TheOlympian</td>
                        <td>Mohamad Amirul</td>
                    </tr>
                    <tr>
                        <td>WHUFC</td>
                        <td>Louis</td>
                    </tr>
                    <tr>
                        <td>Wrbick</td>
                        <td>Wrbick2</td>
                    </tr>
                    <tr>
                        <td>wild surfer</td>
                        <td>immu</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>
